/* ////////////////////////
FLIP
/////////////////////// */
.btn:hover,
.btn:focus,
.btn:active{
  outline: 0 !important;
}
/* entire container, keeps perspective */
.card-container {
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -o-perspective: 2000px;
  perspective: 2000px;
  margin-bottom: 30px;
}
/* flip the pane when hovered */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.card-container.static:hover .card,
.card-container.static.hover .card {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}
/* flip speed goes here */
.card {
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
  transition: transform .5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
  z-index: 3;
  min-height: 100%;
}

/* //////////////////
STYLE
///////////////// */

.card-container {
  margin: .75rem;
  width: 280px;
  /* min-height: 368px; */
  height: 368px;
  cursor: pointer;
  background-color: transparent;
}

.card{
  height: 100%;
  border: 0;
  background-color: transparent;
}

.front, .back {
  border-radius: 10px;
  border: 2px solid #7054d8;
  width: 100%;
  height: 100%;
}

.front {
  padding: 1rem;
}

.back {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card h3 {
  text-align: center;
  font-family: "Righteous", cursive;
  font-size: 1.8rem;
}

.back p{
  text-align: center;
  font-weight: 700;
}



/* //////////////////////
BACKGROUND DOS CARDS
/////////////////////// */

#card1 .front {
  background: url(../assets/card_tecnologia.png);
  background-size: cover;
}
#card2 .front {
  background: url(../assets/card_informacao.png);
  background-size: cover;
}
#card3 .front {
  background: url(../assets/card_comunicacao.png);
  background-size: cover;
}

.back {
  background: url(../assets/card_verso.png);
  background-size: cover;
}



/*       Fix bug for IE      */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

  .front, .back{
    -ms-backface-visibility: visible;
    backface-visibility: visible;
  }

  .back {
    visibility: hidden;
    -transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
  }
  .front{
    z-index: 4;
  }
  .card-container:not(.manual-flip):hover .back,
  .card-container.manual-flip.hover .back{
    z-index: 5;
    visibility: visible;
  }
}
